<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="align-item:center;">
<form name="form1">
    <input type="text" placeholder="Enter your Name"> </input>
    <input type="email" placeholder="Enter a valid email"> </input>
    <button type="submit" name="submit-button">Submit</button>
</form>

</div>
</body>
</html>